*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
}
body{
  margin:0;
  line-height: 1.6;
}

img{
  max-width: 100%;
  display: block;
}
h1,
h2,
h3,
p{
  margin: 0;
}
.container{
  width: 85%;
  max-width: 65em;
  margin: 0 auto;
}

.colomns{
  display: flex;
  flex-wrap: wrap;
  gap:2em;
  justify-content: center;
}
.store{
  color: white;
  text-align: center;
  padding: 5em 0;
  background-color: #222;
 background-image: url("wolf.jpeg");
}

.btn{
  display: inline-block;
  text-decoration: none;
  padding: .5em 1.25em;
  background: var(--clr-accent, blue);
  color:var(--clr-text, #fff);
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 1.125rem;
  border-radius: .25em;
  transition:
   transform 250 ease-in-out,
   opacity 175ms linear;
}
.btn:hover,
.btn:focus{
  transform: scale(1.1);
  opacity: .9;
  background-color: #FF8450;
}
.section-title{
text-align: center;
font-size: 2.5rem;
line-height: 1;
color: blue;
margin-bottom: 3rem;
}

.featuredImg{
  width: 100%;
  border-radius: 10px;
}
.featuredImg:hover{
  transform:scale(1.1);
  opacity: 2.9;
}

.shop{
  position: absolute;
  display: none;
  border-style: solid;
  border-color: #FF8450;
  width: 100%;
  left: 20%;
 top: 40%;
 height: 100%;
 color: blue;
 background-color: #FF8450;
 font-weight: bolder;
 overflow-y: scroll;
 border-radius: 20px;
}
.openBtn{
  position: absolute;
  left: 75%;
  top: 40%
}

button{
  background: blue;
  color: white;
  font-weight: bolder;
}
button:hover{
  transform: scale(1);
  opacity: .8;
  background-color: #FF8450;
}
.addbutton{
  width: 100%;
}
.wishlist{
  width: 100%;
}
.dltbutton{
  width: 100%;
}

.addbutton1{
  width: 100%;
}
.wishlist1{
  width: 100%;
}
.dltbutton1{
  width: 100%;
}

.addbutton2{
  width: 100%;
}
.wishlist2{
  width: 100%;
}
.dltbutton2{
  width: 100%;
}

.addbutton3{
  width: 100%;
}
.wishlist3{
  width: 100%;
}
.dltbutton3{
  width: 100%;
}

.addbutton4{
  width: 100%;
}
.wishlist4{
  width: 100%;
}
.dltbutton4{
  width: 100%;
}

.addbutton5{
  width: 100%;
}
.wishlist5{
  width: 100%;
}
.dltbutton5{
  width: 100%;
}

.featured-details{
  overflow-wrap: break-word;
  color: white;
  font-weight: bolder;
}

.form{
  display: none;
  position: absolute;
  left: 30%;
  top: 70%;
  bottom: 0;
  right: 15px;
  border-radius: 20px;
  border-style: solid;
  height: 50%;
  max-width: 50%;
  border-color: #FF8450;
  background-color: #FF8450;
  z-index: 9;
  font-style: italic;
  font-weight: bolder;
  color: blue;
}
.openButon{
  position: absolute;
  top: 40%;
}
.price{
  position: absolute;
  left: 30%;
  top: 25%;
  color: green;
}
.priceName{
  position: absolute;
  top: 15%;
  left: 30%;
  color: black;
  font-weight: bolder;
}
.removeAll{
  position: absolute;
  left: 0%;
  top: 19%;
  font-weight: bolder;
}
.shopping{
  position: absolute;
  left: 1%;
  top: 25%;
}
.prom{
  position: absolute;
  top: 15%;
  left: 1%;
  color: black;
  font-weight: bolder;
}
.total{
  position: absolute;
  top: 2%;
  left: 70%;
  font-weight: bolder;
  color: black;
  font-size: 1.1rem;
}
.tot{
  position: absolute;
  top: 2%;
  left: 35%;
  font-weight: bolder;
  color: black;
  font-size: 1.1rem;
}

.closeCart{
  position: relative;
  top: -25%;
  left: 10%;
  height: 8%;
  width: 9%;
}
.warning{
  color: red;
}

.amazing-items{
  height: auto;
  box-shadow: 0 15px 30px rgba(0,0,0,0.30), 0 11px 8px rgba(0,0,0,0.22);
  background-color: #0e387a;
  overflow: hidden;
  color: #0e387a;
}

@media (prefers-color-scheme:dark) {
body  {
    background-color: black;
  }
}

@media (prefers-color-scheme:white) {
body  {
    background-color: pink;
  }
}
#paypal{
  position: relative;
  top: 80%;
}
