<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Levels|| product description</title>
</head>
<body>
    <header>
        <h1>Product Description</h1>
    </header>
    <main>
            <div id="productImage">
            </div>
            <div id="productDescription">
                <p><%= fullDescription %></p>
                <img src=<%=productImage %> alt="image">
            </div> 
    </main>
</body>
</html>