<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Levels|| shopping cart</title>
    <link rel="stylesheet" href="./css/store.css">
    <link rel="stylesheet" href="./css/all.min.css">
</head>
<body>
<header>
    <h1>Shopping cart</h1>
    <i class="fas fa-shopping-basket fa-3x"></i>
</header>    
<main>
    <div id="cartContainer">
        <div id="cartDetails"><h3>Product name</h3><h3>Product image</h3><h3>Product price</h3></div>
        <div id="shoppingCart">
        </div>
        <div><h4>Total R<strong id="total">0</strong></h4></div>
      </div>
            <button id="checkout">
                checkout
                <i class="fas fa-shipping-fast fa-2x"></i>
            </button>
</main>
<footer>
    <h2 class="footer">copyright<i class="fas fa-copyright"></i> 2023 - present| Levels| developed by sizwe| Email:sizwenkala80@gmail.com</h2>
  </footer>

<script src="./javascript/shoppingCart.js"></script>
</body>
</html>