*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin:0;
  line-height: 1.6;
}

img{
  max-width: 60%;
  display: block;
}
h1,
h2,
h3,
p{
  margin: 0;
}


.split{
  display: flex;
  flex-wrap: wrap;
  gap:2em;
  justify-content: center;
}
.btn{
  display: inline-block;
  text-decoration: none;
  padding: .5em 1.25em;
  background-color: #0bac13e3;
  color:var(--clr-text, #fff);
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 1.0rem;
  border-radius: .25em;
  transition:
   transform 250 ease-in-out,
   opacity 175ms linear;
}
.btn:hover,
btn:focus{
  opacity: .9;
  background-color: rgb(0, 0, 0);
}
.primary-text{
  font-size: 1.5rem;
  line-height: 1.1;
  text-transform: uppercase;
}
.section-title{
text-align: center;
font-size: 2.5rem;
line-height: 1;
color: #000000c0;
margin-bottom: 3rem;
}
header{
  color: white;
  text-align: center;
  padding: 5em 0;
  background-color: #222;
 background-image: url("wolf.jpeg");

}

.product{
  word-wrap: break-word;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 40%;
  margin-bottom: 2%;
  border: 1px solid #0bac1331 ;
  border-radius: 3vh;
}


.featured-items{
  height: auto;
  box-shadow: 0 15px 30px rgba(0,0,0,0.30), 0 11px 8px rgba(0,0,0,0.22);
  background-color: #0e387a;
  overflow: hidden;
  color: #0e387a;
}

.featured-details{
  overflow-wrap: break-word;
  color: white;
  font-weight: bolder;
}

.product-discription{
  overflow-wrap: break-word;
  color: white;
  font-weight: bolder;
}
footer {
  background-color: #fff;
  border-top: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  color: #333;
}



@media only screen and (min-width:50px) and (max-width:480px) {
  .product{
    word-wrap: break-word;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 100%;
    margin-bottom: 2%;
    border: 1px solid #0bac1331 ;
    border-radius: 3vh;
  } 
}